{% extends 'store/main.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">

        <div class="card m-5 p-2" style="width: 25rem;">
            <a class="btn btn-outline-dark" href="{% url 'store' %}">
                &#x2190; Continue Shopping
            </a>
            <img src="{{ eachProduct.image.url }}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title m-1"><b>Name:</b> {{ eachProduct.name }}</h5>
                <h4 class="card-subtitle m-1"><b>Price:</b> ${{ eachProduct.price }}</h4>
                <p style="font-size: 14px;" class="btn btn-warning m-1 p-1">{{ eachProduct.category.name }}</p>
                <hr>
                <p style="font-size: 15px;" class="card-text mt-1">Description: {{ eachProduct.description }}</p>
                <p style="font-size: 13px;" class="cart-text mt-1">{{ eachProduct.created_at }}</p>

                <a href="{% url 'product' eachProduct.pk  %}" data-product={{eachProduct.id}} data-action="add"
                    class="btn btn-primary m-1 update-cart"> Add to Cart </a>
            </div>
        </div>
    </div>

</div>

{% endblock content %}